<div class="container py-5">

    <div class="rounded shadow p-5  my-5 d-flex">
        <img src="/assets/task.svg" alt="" width="200">
        <div>
            <h3 class="text-primary">Bienvenido a Tareas</h3>
            <h5 class="text-secundary"></h5>

            <hr>

            <p class="text-muted">Esta aplicación fue desarrollada con Spring Boot, Angular y MongoDB</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Mi lista de tareas</h3>

            <div class="my-5"></div>

            <div *ngFor="let tarea of tareas" class="card mb-3">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">{{tarea.nombre}}</div>

                        <div class="text-muted">

                            <i class="fa-solid fa-pen-to-square cursor-pointer" title="Editar tarea"
                                (click)="edit(tarea)"></i>
                            <i class="fa fa-trash ms-2 cursor-pointer" title="Eliminar tarea"
                                (click)="delete(tarea)"></i>
                        </div>
                    </div>
                    <div>
                        <small class="text-sucess" *ngIf="tarea.completado; else noCompletado">
                            <i class="fa fa-check-circle"> Completado</i>
                        </small>

                        <ng-template #noCompletado>
                            <small class="text-muted">
                                <i class="fa fa-clock"> Pendiente</i>
                            </small>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <h3>{{tarea.id ? 'Editar' : 'Nueva'}} tarea</h3>
            <form class="mt-5" (ngSubmit)="save()">
                <div class="mb-3 form-floating">
                    <input id="nombre " type="text" placeholder="Nombre" name="nombre" class="form-control"
                        [(ngModel)]="tarea.nombre">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="mb-3 form-check">
                    <input id="completado" type="checkbox" class="form-check-input" name="completado"
                        [(ngModel)]="tarea.completado">
                    <label for="completado" class="form-check-label">Completado</label>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary btn-lg">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
